@charset "utf-8";

h1 {
  text-align: center;
  margin: auto;
  border-bottom: solid 2px rgb(187, 192, 194);
  font-size: 60px;
}

main {
  text-align: center;
  border: solid 2px;
  border-radius: 8px;
  width: 500px;
  margin:16px auto 0px;
  background-color: blanchedalmond;
}

h2 {
	cursor: pointer;
}

#container1 {
  display: none;
}


#container2 {
  display: none;
}


#container3 {
  text-align: left;
  padding-left: 4px;
  display: none;
}
